@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bgmain: 'red';
            --color-bg-card: 210deg 40% 98%;
            --color-accent-1: 288deg 95.8% 90.6%
            --color-accent-2: 168deg 95.8% 90.6%;
    }
 
    @media (prefers-color-scheme:dark){
        :root{
            --color-bgmain: 0deg 32% 17%;
            --color-bg-card: 210deg 40% 98%;

        }
    }
    :root[data-theme="dark"]{
        --color-bgmain: 217deg 32% 17%;
    --color-bg-card: 210deg 40% 98%;

    }
    :root[data-theme="light"]{
        --color-bgmain: 217deg 32% 17%;
        --color-bg-card: 210deg 40% 98%;
}
    :root[data-theme="system"]{
        --color-bgmain: 217deg 32% 17%;
        --color-bg-card: 210deg 40% 98%;
    }
}
 